<head>
    <style type="text/css">
        .auto-style1 {}
        .auto-style2 {
            text-align: center;
        }
        .auto-style5 {
            height: 47px;
        }
        .auto-style7 {
            height: 47px;
            width: 30%;
        }
        .auto-style9 {
            width: 63px;
        }
        .auto-style10 {
            width: 63px;
            height: 47px;
        }
        .auto-style11 {
            width: 43px;
            height: 47px;
        }
        .auto-style12 {
            width: 698px;
            height: 37px;
        }
        .auto-style13 {
            width: 142px;
        }
        .auto-style14 {
            width: 698px;
            height: 264px;
        }
        .auto-style15 {
            height: 20px;
        }
        .auto-style16 {
            width: 30%;
        }
    </style>
</head>
@{
    ViewBag.Title = "Style1";
}

<h2>Style1</h2>
<h2 class="auto-style1">就職活動願</h2>
<p>
    アルスコンピュータ専門学校長殿</p>
<p>
    &nbsp;</p>
<p>
    　※活動する三日前には、提出するよう心がけましょう。</p>
<p>
    <table style="width: 698px; height: 189px;" border="1">
        <tr>
            <td class="auto-style10" style="width: 15%">活　動　日</td>
            <td class="auto-style5" colspan="4" style="width: 40%">平成　年　月　日（）</td>
            <td class="auto-style11" style="width: 10%">時間</td>
            <td class="auto-style7"></td>
        </tr>
        <tr>
            <td class="auto-style9" style="width: 15%">時　　限</td>
            <td class="auto-style2">1限</td>
            <td class="auto-style2">2限</td>
            <td class="auto-style2">3限</td>
            <td class="auto-style2">4限</td>
            <td rowspan="2" style="width: 10%">目的</td>
            <td rowspan="2" class="auto-style16">1.合同説明会<br />
                2.単独説明会<br />
                3.会社(施設)見学<br />
                4.入社試験(1次・2次・3次・4次)<br />
                5.Webテスト・作品提出<br />
                6.その他(　　　　　　　　　　)</td>
        </tr>
        <tr>
            <td class="auto-style9" style="width: 15%">科　　目　<br />
                （担当）</td>
            <td class="auto-style2">&nbsp;</td>
            <td class="auto-style2">&nbsp;</td>
            <td class="auto-style2">&nbsp;</td>
            <td class="auto-style2">&nbsp;</td>
        </tr>
    </table>
</p>
<table class="auto-style12" border="1">
    <tr>
        <td class="auto-style13">応募方法</td>
        <td>学校応募・自由応募・縁故（続柄：　　　　　　　　　）</td>
    </tr>
</table>
<p>
    <br />
</p>
<table class="auto-style14">
    <tr>
        <td style="width: 15%">企　業　名<br />
            (合同説明会)</td>
        <td>&nbsp;</td>
        <td style="width: 15%">担　当　者<br />
            (主　催)</td>
        <td>&nbsp;</td>
        <td style="width: 15%">求人票No.</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="5" rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="auto-style15"></td>
        <td class="auto-style15" colspan="5"></td>
    </tr>
</table>

